* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vh !important;
}

ul {
  padding-left: 0 !important;
}

/* pokemonApi.js page css starts here */
.App {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  width: 100%;
}

.title {
  width: 100%;
  height: fit-content;
  color: white;
}

.searchBtn {
  font-size: 17px;
  background-color: #056187;
  color: #fff;
}
.localDataContainer {
  color: #000;
  top: 50px;
  left: 15em;
  width: 45%;
}
.clearButton {
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.prevSearch {
  border-radius: 6px;
  box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, 0.2);
  box-sizing: border-box;
  background: #fff;
  height: auto;
  margin-top: 5px;
  max-height: 40vh;
  overflow: auto;
  position: absolute;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 100%;
  width: 75%;
  z-index: 1111;
  left: -5rem;
}
.deleteButton {
  background-color: #fff;
  border: 1px solid red;
  border-radius: 100%;
  height: 40px;
  left: -1rem;
  top: -1rem;
  width: 40px;
  color: red;
  z-index: 1000;
}
.searchButton {
  background-color: #fff;
}
.searchButton:hover {
  background-color: #ebebeb;
}
.pokeImage {
  width: 300px !important;
  height: 300px !important;
}
.DisplaySection {
  min-width: 50vh !important;
}
/* pokemonApi.js page css ends here */

/* Navbar.js css starts here */
.App-logo {
  width: 120px;
}
.Ball-logo {
  width: 50px;
}
/* Navbar.js css ends here */

@media (max-width: 576px) {
  .Ball-logo {
    display: none;
  }
  .pokeImage {
    width: 330px;
    height: 250px;
  }
  .DisplaySection {
    max-width: 50vh !important;
  }
  .prevSearch {
    width: 85% !important;
    left: -4.8rem !important;
  }
}

@media (min-width: 1024px) {
  .prevSearch {
    width: 92% !important;
    left: 9rem !important;
  }
}
@media (min-width: 768px) {
  .prevSearch {
    width: 83%;
    left: 4rem;
  }
}

